.app{
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;

}
.container{
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;

}
.input{
  margin-top: -550px;
  margin-bottom: 50px;
  padding: 10px;
  width: 80%;
  margin: auto;
  border: solid lightgrey;
  border-radius: 6px;
  font-size: 16px;
}
::placeholder{
  justify-content: center;
  align-items: center;
}
.input:focus{
  outline: none;
}
.weather-data{
  margin-top: 10px;
  
  display: flex;
  flex-direction: column;
  color: azure;
  justify-content: center;
  align-items: center;

  
}
.city{

  margin-top: 50px;
  font-size: 50px;
  color: white;
}
.temp{
  margin-top: -20px;
  font-size: 50px;
  color: azure;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 12px;
  
}
.weather{
  margin-top: -20px;
  font-size: 30px;
  color: azure;
  
  
}
.time{
  margin-top: -20px;
  font-size: 30px;
  color: azure;
  
  
}
table, tr, td {

  border-collapse: collapse;
}
tr, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 20px;
  color: azure;
}

.location{
  margin-right: 1360px;
  margin-top: -34px;
  color: white;
  
}
.location:hover{
  cursor: pointer;
  transition: ease-out;
}
